.filters {
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

@media only screen and (max-width: 601px) {
    .filters{
        width: 100%;
        // position: fixed;
        margin-top: 70px;   
    }
}