.collbord{
  
    
    color: white;
    margin:15px;
    background-color: #222222;
    border-radius: 5px;

}
.collbase{
    
   
    color: white;
}

.low{
    color: #E74C3C;
}

.mid{
    color:#F39C12;
}

.high{
    color: #00BC8C;
}