.collbord{
    border: 1px solid grey;
    
    color: white;
    margin:15px;

}
.collbase{
    
    border-top: 1px solid gray;
    color: white;
}

.low{
    color: #E74C3C;
}

.mid{
    color:#F39C12;
}

.high{
    color: #00BC8C;
}