.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(#3870B8, #5E3887);
    overflow-x: hidden;
    padding-top: 20px;
  }