.pageCard{
    margin: 15px;
    border-radius: 10px;
    padding:8px;
    color: white;
    background-color: #222222;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    cursor: pointer;
}
.pageCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}
.score {
    display: inline-block;
    width: 30px;
    height: 20px;
    // background-color: red;
    border-radius: 8px;
    text-align: center;
    font-size: 12px
}