.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(#3870B8, #5E3887);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s
  }
  .sidenav-collapse {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(#3870B8, #5E3887);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s
  }
  
.sidelink {
  width: inherit;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  background-color: transparent;
  border: none
}
.sidelink:hover{
  transform: scale(1.05);
  cursor: pointer;
}