.sidebar {
  position: fixed;
  z-index: 1;
}


.sidenav {
  @extend .sidebar;
  height: 100%;
  width: 200px;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
  
}
.sidenav-collapse {
  @extend .sidebar;
  height: 100%;
  width: 80px;
  top: 0;
  left: 0;
  background-color:black;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}
.nav {
  height: 0;
}
.mobClose {
  display: none
}
.mobOpen {
  height: 0;
  width: 0;
}
@media only screen and (max-width: 601px) {
  .nav {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color:#353232;
  }
  .mobOpen {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color:#353232;
    overflow-x: hidden;
    transition: 0.5s ease;
  }
  .sidenav, .sidenav-collapse {
      display: none
  }
}
.sidelink {
  // width: inherit;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  background-color: transparent;
  border: none;
}
.sidelink:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* width */
// 

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0,0,0);
  border: 4px solid transparent;
  background-clip: content-box;   /* THIS IS IMPORTANT */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF9800;
  
}