.main {
    margin-left: 200px;
    padding: 100px;
    transition: 0.5s;
}
.main-extend {
    margin-left: 60px;
    padding: 100px;
    transition: 0.5s;
}
.text {
    padding: 100px;
    font-size: xx-large;
    text-align: center
}