.main {
    margin-left: 160px;
    padding: 100px;
}
.text {
    padding: 100px;
    font-size: xx-large;
    text-align: center
}
.sidelink {
    width: inherit;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    background-color: transparent;
    border: none
}
.sidelink:hover{
    transform: scale(1.05);
    cursor: pointer;
}