@import './_imports/_variables',
        './_imports/_colors';

.card {
	box-shadow: $box-shadow-card;
	border-radius: $border-radius-small;
}

.tile, .card {
	padding: $space-med;
	background: white;
}

.mui-card {
	$card-padding: 24px;
  
	background-color: white;
	padding: $card-padding;
  
	
  }
.customcontainer{
	padding: 15px;
}
  .customcard{
	  background-color: #222222;
	  border-radius: 10px;
	  padding: 10px;
  }

  