.radiocomp{
    color:white;
}

.statscard{
    color:white;
    
}
.numreqrow{
    margin-top:8px;
    margin-bottom: 8px;
}

.urlrow{
    margin-bottom: 8px;
}

.successtext{
    color:#00BC8C;
}

.failedtext{
    color:#E74C3C;
}

.totaltext{
    color:#3498DB;
}

.urltext{
    color:  #F39C12;
}